/* home */

#himg{
   position: relative;
   width:100%;
   height:100vh;
   opacity: 0.5;
} 

#right{
    position: absolute;
    /* left:70%;
    top:37%; */
    font-family: 'Racing Sans One', cursive;
    color: rgba(139, 0, 139, 0.74);
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

#left{
    position: absolute;
    top:30%;
    left:5%;
    font-family: 'Racing Sans One', cursive;
    font-size: 3rem;
    color: rgba(0, 0, 139, 0.715);
    letter-spacing: 0.1rem;
}
#btn{
    position: absolute;
    top:40%;
    left:10%;
    width:10%;
    background-color:darkviolet;
    color:white;
    font-family: 'Racing Sans One', cursive;
    border-radius: 10%;
    border-color: darkviolet;
    padding: 6px 9px;
    font-size: 1.5rem;
}
#btn:hover{
    background: blue;
    transform:scaley(1.3);
}

/* aboutus */

#bgpic{
    background: url(../images/bk.png) no-repeat 0 0; 
    
}

#aboutus{
    font-family: 'Racing Sans One', cursive;
    color:rgba(139, 0, 139, 0.667);
    font-size: xx-large;
    padding-top: 4%;
}

/*=============== PRODUCTS ===============*/
  
.product__container{
    padding: 3rem 0;
    gap: 2.5rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
  
.product__card{
    border-radius: 110px;
    display: grid;
    position: relative;
    width: 300px;
    box-shadow: 7px 12px 20px rgba(0, 0, 0, 0.05);
    background-color: rgba(148, 217, 194, 0.519);
}
  
.product__img{
    position: relative;
    width: 130px;
    height: 100px;
    justify-self: center;
    margin-left: 5%;
    transition: .3s;
    padding-top: 12px;

}
  
.product__title,.product__price{
    margin-bottom: .25rem;
    font-family: 'Racing Sans One', cursive;
    color:rgba(139, 0, 139, 0.667);
}
  
.fa-sharp.fa-solid.fa-heart {
    padding-left: 89%;
	font-size: xx-large;
	color: hotpink;
}

.fa-sharp.fa-solid.fa-heart:hover{
    padding-left: 89%;
	font-size: xx-large;
	color: rgb(166, 54, 200);
    transform:scaley(0.8);
    
    
}
   
.product__card:hover .product__img{
    transform: translateY(-.6rem );  
}
  
.product__img:hover{
    width: 140px;
}


.footer{
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #b5175e;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #b5175e;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #343333;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:  #f43d8f;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #f43d8f;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #f43d8f;
}
  
/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}
@media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
}

.navbar{
    background-color:rgba(139, 0, 139, 0.486);
    height: 35px;
}

.navbar-nav li:hover{
    transform: scale(1.2);
    text-shadow: none;
}

.nav-link,.navbar-brand{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

/* Reviews */

#reab{
    font-family: 'Racing Sans One', cursive;
    font-size:2rem;
    color: #5b0c50af;
    padding:2% 5% 2% 7%
}

#review {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #76106a;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin: 35px 10px 10px;
    max-width: 310px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color:rgba(249, 225, 182, 0.626);
    border-radius: 10px;
    border-top: 5px solid #5eb33ed3;
}

#review:hover{
    transform: translatex(-.6rem );
}
 
#review figcaption {
    padding: 13% 10% 12%;
}

#review h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0 5px;
    font-family: 'Times New Roman', Times, serif;
}
  
#review h4 {
    font-weight: 400;
    margin: 0;
    opacity: 0.5;

}
  
#review blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
}
  
  
 